
.flex-container-register{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
     max-width: 1800px;
    margin: 20px auto;
}
.flex-item-left-register{
    flex: 50%;
    
}
.flex-item-right-register{
    flex: 50%;

   
 
}

.input-telefono{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    margin-left:20px;
    padding-bottom: 12px;
   
   
   
}



.input-box-register {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    color: #222;
}

.input-box-register .input-register {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    font-size: 16px;

    padding: 20px 40px 20px 20px;
    text-align: center;
}


.input-box-register .i {
    position: absolute;
    right: 90%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30px;
}


.flex-item-right-register .btn-send {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 30px;
}

.flex-item-right-register .btn-send:hover {
    transition: all 1s;
    background-color: #333;
    color: #fff;

}

.info-inicia-sesion {
    border: 1px solid white;
}




.top-left {
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 2em;
    padding: 20px;
    
}

.azul{
    color:#60B5FF;
}



.iniciar-sesion-btn{
    text-decoration: none;
    padding: 10px;
}


@media (max-width: 1060px) {
    .flex-container-register{
        flex-direction: column;
        
    }
    .flex-item-right-register{
        margin-top: 120px;
        width: 100%;
        height: 100%;
         
        margin-right: 30px;
        margin-left: -1px;
        padding-left: 50px;
        padding-right: 50px;

    }
    .contacto{
        
        text-align: center;
    }
    .registrarse{
        margin-top: 30px;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .flex-item-left-register{
       display: none;
    
    }
    .top-left{
        padding-bottom: 50px;
       margin-bottom: 60px;
    }
    .input-telefono{
        position: absolute;
        top: 50%;
        transform: translateY(-20%);
        font-size: 1.2em;
        margin-left:20px;
      
        color: #222;
        padding-top: 10px;
        padding-bottom: 10px;
    }
   
  



}

@media (max-width: 600px) {
    .flex-item-left-sesion{
        display: none;
    }
    .top-left{
        text-align: center;
    }
}

.img-left-sesion {
     width: 500px;
    height: 500px;
    margin:90px 15px;
    border-radius: 10px;
    background-size: cover;
    background-attachment: fixed;
}